// GENERAL
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	font-family: sans-serif;
	text-decoration: none;
	list-style: none;
	 
 
 }
 
 
 img{
	max-width: 100%;
 }
 
// VAR 
$headColor:#2e3a46;
$bodyColor:#1d2d3c;
$whiteColor:#fff;
$ColorLightGray:#7a7a7a;